$brand-font: "Press Start 2p", monospace;
$title-font: "Press Start 2p", monospace;
$text-font: "Roboto Mono", sans-serif;

/* Text Sizes */
$text-size-xs: 1.2rem;
$text-size-s: 1.4rem;
$text-size-m: 1.6rem;
$text-size-l: 1.8rem;
$text-size-xl: 2rem;

/* Text Line Heights */
// Line-heights for text are factor 1.7
$text-line-height-xs: 2rem;
$text-line-height-s: 2.4rem;
$text-line-height-m: 2.7rem;
$text-line-height-l: 3rem;
$text-line-height-xl: 3.4rem;

/* Title Sizes */
$title-size-xs: 1.6rem;
$title-size-s: 1.8rem;
$title-size-m: 2rem;
$title-size-l: 2.4rem;
$title-size-xl: 3.2rem;
$title-size-xxl: 4rem;

/* Title Line Heights */
// Line-heights for titles are factor 1.4
$title-line-height-xs: 2.2rem;
$title-line-height-s: 2.5rem;
$title-line-height-m: 2.8rem;
$title-line-height-l: 3.4rem;
$title-line-height-xl: 4.5rem;
$title-line-height-xxl: 5.6rem;
